.layout{
  margin-top: 80px;
}
.content{
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}
.user-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  h1{
    display: flex;
    align-items: center;
    margin: 0;
  }
  .user-edit-button{
    cursor: pointer;
    background-color: white;
    width: 74px;
    height: 30px;
    border: 1px solid #5353F9;
    border-radius: 5px;
    color: #5353F9;
  }
  .user-edit-button:hover{
    background-color: #5353F9;
    color: white;
  }
}
.info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
      margin: 0;
    }
    button{
      cursor: pointer;
      border: none;
      color: white;
      width: 110px;
      height: 35px;
      background: #353539;
      border-radius: 5px;
      font-weight: 600;
    }
  }
.list-container{
  margin-top: 18px;
  background-color: #F2F4F9;
  border-radius: 15px;
  min-height: 480px;
  text-align: center;
  padding: 28px 32px;
  ul{
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
    padding: 0;
  }
}

@media screen and (max-width: 610px) {
  .content{
    h1{
      font-size: 1.75rem;
    }
  }
  .list-container{
    ul{
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 410px) {
  .content{
    h1{
      font-size: 1.5rem;
    }
  }
  .work-room-list{
    h2{
      font-size: 1.25rem;
    }
  }
  .list-container{
    padding: 28px 20px;
  }
}