.button, .cancel-button{
  width: 100%;
  height: 56px;
  border-radius: 8px;
  font-size: 1.125rem;
}

.button{
  background: #5353F9;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #C8C8C8;
}

.cancel-button{
  background: white;
  color: #5353F9;
  border: 1px solid #5353F9;
  cursor: pointer;
}

.cancel-button:hover{
  background: #5353F9;
  color: white;
  border: 1px solid #5353F9;
  cursor: pointer;
}