$alert-color : #D62929;
$primary-color:  #5353F9;

.layout{
  margin-top: 100px;
}
.content{
  max-width: 650px;
  margin: 0 auto;
  & > p {
    color: #393939;
    margin-bottom: 30px;
    letter-spacing: -0.02em;
  }
  h1{
    margin: 16px 0;
  }
}
.content-border {
  border: 1px solid #C8C8C8;
  border-radius: 10px;
  background: #FFFFFF;
  padding: 60px 80px;
}
.form{
  .alert{
    color: $alert-color;
    font-size: 12px;
    margin-top: 10px ;
    margin-bottom: 0;
  }  
  div:nth-of-type(2), div:nth-of-type(3){
    position: relative;
  }
  div{
    margin-top: 16px;
  }
  div:nth-of-type(3){
    margin-top: 0;
  }
  .emailAuth-message{
    color: #8F8F8F;
    font-size: 0.875rem;
  }
  .emailCodeAuth-message-true{
    color: $primary-color;
    font-size: 0.875rem;
  }
  .emailCodeAuth-message-false{
    color: $alert-color;
    font-size: 0.875rem;
  }
  p:last-child{
    color: #000000;;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
  }
  button{
    margin-top: 40px;
  }
  a:last-child{
    margin-left: 12px;
    color: $primary-color;
    text-decoration: none;
  }
}
.password-checkbox{
  margin-top: 16px;
  display: flex;
    align-items: center;
  input{
    width: 18px;
    height: 18px;
    border-radius: 2px;
    margin: 0;
  }
  input, progress {
  accent-color: $primary-color;;
}
span{
  margin-left: 8px;
  font-size: 14px;
}
}

.inner-button{
  border: none;
    text-decoration: none;
    color: white;
    padding: 9px 15px;
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: -4px;
    margin: 0;
    background: #4B4B4B;
    border-radius: 5px;
}
.auth-timer{
  position: absolute;
  right: 30px;
  top: 22px;
  font-size: 0.875rem;
}
.display-none{
  display: none;
}