.content{
  position: relative;
  .selected-date{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 6px 16px;
    background: #FFFFFF;
    border: 1px solid #C8C8C8;
    border-radius: 10px;
    cursor: pointer;

    svg{
      width: 13px;
      height: 8px;
    }
  }

  .date-list{
    margin-top: 5px;

    @keyframes DropdownAnimation {
      0% {
        transform: scaleY(0);
        opacity: 1;
        transform-origin: center top;
      }
      100% {
        transform: scaleY(1);
        opacity: 1;
        transform-origin: center top;
      }
    }

    ul{
      position: absolute;
      height: 200px;
      overflow: hidden;
      overflow-y: scroll;

      z-index: 12;

      padding: 12px 16px;
      background-color: white;
      border: 1px solid #D9D9D9;
      border-radius: 10px;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 18px;

      animation-name: DropdownAnimation;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0, 1, 0, 1);
      animation-delay: 0s;
      animation-fill-mode: forwards;
  
      li{
        width: 45px;
        cursor: pointer;
      }
      li:hover{
        color: #5353F7;
      }
    }
  }
}