.content{
  position: relative;
  .cancel-icon{
    display: none;
   }
}
h2{
  margin-top: 0;
  margin-bottom: 35px;
}
.form{
  button{
    cursor: pointer;
  }
  .readonly-email-layout{
    div{
      margin-top: 8px;
      height: 48px;
      padding-left: 16px;
      p{
        display: inline;
        color: #969696;
      }
      span{
        float: right;
        padding-right: 16px;
        color: #00C781;
      }
    }
  }
}

.button-div{
  display: flex;
  gap: 16px;
  margin-top: 40px;
}

@media screen and (max-width: 652px) {
  .content{
    .cancel-icon{
      display: inline;
      position: absolute;
      cursor: pointer;
      top: -30px;
      right: 0px;
     }
  }
  .allowance-content{
    padding: 32px 30px;
  }
  .form{
    
    .button-div{
      button:nth-of-type(1){
        display: none;
      }
    }
   }
  .allowance-content{
    padding: 30px 28px;
    .description-box{
      font-size: 0.875rem;
    }
  }
}