.content{
  position: relative;
  .cancel-icon{
    display: none;
   }
}
.form{
  .form-content{
     max-height: 360px;
     overflow-x:hidden; 
     overflow-y:auto; 
    & > div:nth-of-type(2){
      position: relative;
     }
  }
}

.inner-button{
  border: none;
  padding: 9px 15px;
  text-decoration: none;
  color: inherit;
  font-size: 12px;
  position: absolute;
  right: 16px;
  top: 36px;
  margin: 0;
  color: white;
  background: #5353F9;
  border-radius: 5px;
  cursor: pointer;
}
.alert{
  color: #D62929;
  font-size: 12px;
  margin-top: 10px ;
  margin-bottom: 10px;
}
.tax-content {
  p{
    margin-bottom: 8px;
  }
}
.tax-select-box{
  width: 100%;
  button{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    padding: 0 16px;
    text-align: left;
    width: 100%;
    cursor: pointer;
    background-color: white;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    height: 40px;
    span{
      color: #C8C8C8;
    }
  }
  .tax-select-list{
    position: relative;
    animation: slide-down 1s ease;
    @keyframes slide-down {
      0% {
        top: -10px;
        opacity: 0;
      }
      100% {
        top: 0;
        opacity: 1;
      }
    }
    margin-top: 10px;
    list-style: none;
    padding: 0;
    border: 1px solid #C8C8C8;
    border-radius: 5px;
    transition: height 0.3s ease-out;
    li{
      padding-left: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      height: 46px;
      border-top: 1px solid #C8C8C8;
    }
    li:nth-child(1){
      border: none;
    }
    li:hover{
      color: #5353F9;
    }
  }
}

.allowance-content{
  margin-top: 26px;
  background: #FFFFFF;
  border: 1px solid #5353F9;
  border-radius: 5px;
  padding: 32px 48px;
  .allowance:not(:last-child){
    margin-bottom: 20px;
  }
  .allowance::after{
    clear:both;
    display:block;
    content: '';
  }
  .radio{
    float: right;
  }
  .description-box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 43px;
    background: #F2F4F9;
    border-radius: 5px;
    margin-top: 12px;
  }
}

.button-div{
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

.none{
  display: none;
}

@media screen and (max-width: 652px) {
  .content{
    .cancel-icon{
      display: inline;
      position: absolute;
      cursor: pointer;
      top: -30px;
      right: 0px;
     }
  }
  .allowance-content{
    padding: 32px 30px;
  }
  .form{
    .button-div{
      button:nth-of-type(1){
        display: none;
      }
    }
   }
  .allowance-content{
    padding: 30px 28px;
    .description-box{
      font-size: 0.875rem;
    }
  }
}

@media screen and (max-width: 410px) {
  .allowance-content{
    padding: 32px 40px;
  }
   .allowance-content{
    padding: 30px 16px;
  }
}