h2{
  margin-top: 0;
  margin-bottom: 35px;
}
.form{
  button{
    cursor: pointer;
  }
  .readonly-email-layout{
    div{
      margin-top: 8px;
      height: 48px;
      padding-left: 16px;
      p{
        display: inline;
        color: #969696;
      }
      span{
        float: right;
        padding-right: 16px;
        color: #00C781;
      }
    }
  }
}

.button-div{
  display: flex;
  gap: 16px;
  margin-top: 40px;
}